hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em
}

.lista__rodapé {
    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista__rodapé {
        display: block;
    }

    .lista__rodapé-item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodapé__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista__rodapé-titulo {
        color: var(--cinza-claro);
        font-size: 14px;
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {

    .lista__rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}